@import url('https://fonts.googleapis.com/css2?family=Patua+One&family=Quicksand:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply bg-gray-50 dark:bg-gray-900 dark:text-gray-100 text-gray-900 print:bg-white;
}

body {
    @apply font-body text-justify;
}

a:hover {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-green-400;
}