.title {
    @apply text-5xl md:text-6xl font-extrabold bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-green-400 py-2 text-center md:text-left font-sans print:text-black;
}

.subtitle {
    @apply text-2xl font-thin pb-2 text-gray-700 dark:text-gray-400;
}

.skills {
    @apply grid gap-x-4 gap-y-2 grid-flow-row grid-cols-skills;
}

.work {
    @apply grid grid-flow-row grid-rows-3 md:grid-rows-1 grid-cols-1 md:grid-cols-edu font-bold text-lg text-gray-700 dark:text-gray-300 gap-x-1;
}

.education {
    @apply grid grid-rows-2 grid-cols-1 gap-y-2;
}

.bullets {
    @apply list-disc list-outside pl-6;
}

.bullets > li {
    @apply py-1;
}

.section {
    @apply my-8;
}